<nav class="navbar navbar-expand-lg navbar-dark fixed-top custom-navbar" style="background-color: #4A5D45;">
    <div class="container d-flex align-items-center">
        
        <a class="navbar-brand me-3" href="/">NIVORGO</a>
        
        <div class="mx-auto d-none d-lg-flex nav-center" style="color: rgb(0, 0, 0);">
             <a class="nav-link px-3" href="/">Home</a>

            <a class="nav-link px-3" href="/about">About</a>
            
            <a class="nav-link px-3" href="/#products">Products</a>
            
            <a class="nav-link px-3" href="/why-ayurveda">Why Ayurveda</a>
            
            <a class="nav-link px-3" href="/#contact">Contact</a>
        </div>
        
      

    </div> </nav> 

### Next Steps
1.  **Save** this file.
2.  **Restart** your server (`Ctrl+C` then `node server.js`).
3.  Refresh your **About Us** page. The content should now be properly centered below the navbar, not squeezed to the side.